.vscode
.vs
Debug
CAL_1819.sln
CAL_1819.vcxproj
CAL_1819.vcxproj.filters
CAL_1819.vcxproj.user
Readme.md
Project
T03/Aveiro
T03/Braga
T03/Coimbra
TO3/Ermesinde
TO3/Fafe
T03/Gondomar
T03/Lisboa
T03/Maia
T03/Porto
T03/Portugal
T03/Viseu
CAL_PROJ1819.exe